@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;

}
.navigation_bar a{
    float: right;
    color: black ;
    padding: 15px;
}
.navigation_bar{
    margin-right:150px ;
}
.first_heading{
    color:#363958;
    font-size: 60px;
    line-height: 1px;
    font-weight: bold;
}
.second_heading{
    color:#FF8367;
    font-size: 60px;
    font-weight: bold;
}
.first_section,.topbar_image{
    width: 40%;
    float: left;
}
.topbar_image img {
    width: 500px;
    margin-top: 60px;
    margin-left: 118px;
}
.first_section{
    margin-left: 120px;
    margin-top: 86px;
    padding: 5px;
}
.btn {
    color: white;
    background-image: linear-gradient(lightsalmon,tomato);
    padding: 14px 60px;
    border-radius: 12px;
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
}
.edited {
    width: 497px;
    margin-top: 135px;
    margin-left: 297px;
}
.edited h1{
    color: #363958;
}
.latest{
    color: #F46060;
}

.main_row {
    background-color: #F8F9FC;
    padding: 22px;
    padding-bottom: 90px;
}
.main_row h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 78px;
}



.card_container{
    text-align: center;
}

.card_item{
    width: 31%;
    margin-right: 1%;
    margin-left: 1%;
    max-width: 400px;
    display: inline-block;
}
.card_item {
    background: white;
    padding: 9px;
    box-sizing: border-box;
    border-radius: 11px;
    box-shadow: -4px 8px 38px -5px #888888;
    
}

.card_item img {
    width: 100%;
    
}


#footer{
    background-color: white;
    margin-top: 90px;
    margin-bottom: 90px;
}

#footer_first{
    background-image: url('images/Group_33094_1.png');
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 20px;

}

#footer_txt_with_bg button{
    float: right;
    margin: 60px 0;
    margin-right: 50px;
}

#footer_txt_with_bg h2{
    float: left;
    color: white;
    margin: 70px 0;
    margin-left: 50px;
}


#footer_last{
    text-align: center;
    margin-top: 60px;
}


#footer_icon_container{
    
}

#footer_icon_container img{
    margin: 0 10px;
    width: 30px;
}

#sc_text{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    font-weight: 600;
    font-size: 13px;
    color: #666;
}

#email_text{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 5px 0;
}